################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/GigHub/bin
/App/GigHub/obj/Debug
/App/GigHub.IntegrationTests/bin/Debug
/App/GigHub.IntegrationTests/obj/Debug
/App/GigHub.Tests/bin/Debug
/App/GigHub.Tests/obj/Debug
/App/.vs/GigHub/v15
